.headerLeft {
  color:#fff;
  font-size: 20px;
  font-weight: bold;
}
.headerRight{
  float: right;
  font-size: 14px;
  color:#fff;
  position: relative;
}
.headerRight div{
  float: left;
  padding: 0 5px; 
}
.headerRight::after{
  display: table;  
  clear: both; 

}

